/* This will be for the about page specifc styling */

main {
    padding-top: 170px;
    min-height: 100vh;
}

.container {
    background: url(../images/frog-header.jpg) lightgray 50% / cover;
    width: 100%;
    height: 150px;
}

.about {
    display: flex;
    flex-direction: row;
    padding: 5%;
    margin-top: -40px;
}

.section img {
    max-width: 500px;
    height: auto;
}

.section {
    margin: 20px 0;
    display: flex;
    gap: 100px;
}

.talk {
    max-width: 600px;
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    font-family: "Inknut Antiqua";
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .section {
        flex-direction: column;
        align-items: center;
    }

    .section img {
        max-width: 100%;
    }

    .talk {
        text-align: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 48px;
    }

    .talk {
        font-size: 1.2rem;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}