/* This will be for the about page specifc styling */

main {
    padding-top: 170px;
    min-height: 100vh;
}

.container {
    background: url(../images/frog-header.jpg) lightgray 50% / cover;
    width: 100%;
    height: 150px;
}

h1 {
    width: 400px;
    height: 113px;
    flex-shrink: 0;
    text-align: center;
    font-family: "Inknut Antiqua";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 50%;
}

.selfie img {
    max-width: 460px;
    height: 520px;
    margin-left: 160px;
    margin-bottom: 100px;
    display: flex;
}

p {
    display: flex;
    text-align: center;
    margin-left: 10%;
    margin-right: 20%;
    font-size: 20px;
}

.talk {
    padding-top: 5%;
    display: flex;
}

@media (max-width: 760px) {
    .talk {
        flex-direction: column;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .selfie img {
        flex-direction: column;
        max-width: 400px;
        align-items: center;
        min-width: 0;
    }

    h1 {
    font-size: min(10vw, 80px);
    margin-top: 1rem;
    flex-direction: column;
    margin-left: auto;

    }
}

@media (max-width: 480px) {
    .container {
        height: 120px;
    }
}