body {
    background: url(../images/frog-header.jpg) lightgray 50% / cover;
    width: 100%;
}

main {
    padding-top: 150px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    font-family: "Inknut Antiqua";
    color: #FEFAF2;
}

.contact {
    max-height: 780px;
    width: 720px;
    background-color: rgba(203, 217, 208, 0.8);
    padding: 80px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 150px;
}

.contact-form {
    text-align: center;
    padding: 0;
}

label {
    font-size: 2rem;
    line-height: 3rem;
}

input {
    height: 35px;
    width: 40%;
    margin-bottom: 15px;
}

textarea {
    width: 60%;
    height: 150px;
}

@media (max-width: 768px) {
    .contact {
        width: 90%;
        padding: 40px;
        border-radius: 10px;
    }

    .contact-form {
        font-size: 1rem;
    }
}