body {
    background: url(../images/frog-header.jpg) lightgray 50% / cover;
    width: 100%;
}

main {
    padding-top: 150px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    font-family: "Inknut Antiqua";
}

.contact {
    max-height: 780px;
    width: 724px;
    background-color: rgba(203, 217, 208, 0.8);
    padding: 150px;
    margin: auto;
    border-radius: 20px;
}

.contact-form {
    text-align: center;
    padding: 0;
    margin: 0;
}