main {
    padding-top: 150px;
    min-height: 100vh;
}

.container {
    background: url(../images/frog-header.jpg) lightgray 50% / cover;
    width: 100%;
    height: 150px;
}

.start {
    padding-top: 10px;
}

.start h1 {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Inknut Antiqua";
    font-size: 64px;
    font-style: normal;
    padding-bottom: 50px;
}

img.align {
    float: right;
    margin-right: 95px;
    margin-left: 50px;
    max-height: 419px;
    max-width: 625px;
    margin-bottom: 45px;
    align-items: center;
}

.start-intro p {
    margin-left: 20%;
    font-size: 1.1rem;
}

.start-intro {
    padding-bottom: 250px;
}
.identify {
    align-items: center;
    text-align: center;
}

.amphibian-wrapper {
    background-color: #9DBFA6;
    width: 100%;
    height: 100%;
    padding: 335px 0;
}

.amphibian {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    gap: 40px;
}

.content-right {
    flex: 1;
    margin-top: -80px;
}

.content-right h2 {
    padding-bottom: 30px;
}

.eye-view img {
    border-radius: 50%;
    object-fit: cover;
    max-width: 350px;
    max-height: 800px;
    margin-left: -180px;
    margin-top: -150px;
}

.fish-eye img {
    border-radius: 50%;
    object-fit: cover;
    max-width: 300px;
    max-height: 400px;
    margin-right: 50px;
    margin-top: 100px;
    margin-left: -100px;
}

.amphibian h2 {
    font-size: 2.5rem;
    margin: 0 0 20px 0;
    text-align: center;
}

.frog-para {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0;
}

.vs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
    gap: 3em;
}

.vs img {
    max-width: 500px;
}

.vs-para p {
    text-align: center;
    font-size: 22px;
    padding: 0px 20px 20px 0px;
}

.frog-v-toad h2 {
    font-size: 42px;
    text-align: center;
    margin-top: -15px;
    padding-bottom: 30px;
}

.frog-v-toad {
    padding: 100px;
}

.fun-fact {
    background-color: #9DBFA6;
}

.fun-fact h2 {
    font-size: 42px;
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
}

.fact-one {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 100px;
}

.fact-one img {
    max-width: 600px;
    max-height: 400px;
    border-radius: 2%;
}

.one-para {
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

.one-para p {
    font-size: 22px;
}

.one-para h3 {
    font-size: 30px;
}

.fact-two {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 100px;
    padding-left: 140px;
    padding-right: 100px;
}

.fact-two img {
    max-width: 600px;
    max-height: 400px;
    border-radius: 2%;
}

.two-para {
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

.two-para {
    font-size: 22px;
}

.two-para h3 {
    font-size: 30px;
}